@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding 35px;
  background-color: $header-background-color;
  border-bottom: 1px solid #2A2A2A;


  .header-logo {
    img {
      height: 25px;
    }
  }

  .header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;

    ul {
      display: flex;
      gap: $spacing-lg;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          color: $text-color-light;
          font-size: $font-size-medium;
          text-decoration: none;
          transition: color 0.3s;

          &.active-link{
            color: #F6B726;
          }

          &:hover {
            color: $text-color-primary;
          }
        }
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    .artist-label {
      color: #FFF;
      background-color: #000; /* Background color inside the border */
      padding: 10px 20px; /* Adjust padding as needed */
      border-radius: 8px; /* Rounded corners */
      
      border: 2px solid; /* Border thickness */
      border-image-slice: 1; /* Necessary for border-image to work */
      border-image-source: linear-gradient(90deg, #EC1B52 0%, #FCB816 100%);
    }
    
    

    .header-button {
      display: flex;
      align-items: center;
      border: 1px solid $text-color-primary;
      padding: $spacing-xs $spacing-md;
      border-radius: $border-radius;
      background-color: transparent;
      color: $text-color-primary;
      font-size: $font-size-medium;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;


      &.go-premium {
        border-color: $text-color-primary;
        color: $text-color-primary;

        &:hover {
          background-color: $text-color-primary;
          color: $background-color;
        }
      }
    }

    .header-icons {
      display: flex;
      align-items: center;
      gap: $spacing-md;

      
    }

    .header-profile {
      display: flex;
      align-items: center;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}
