@import '../../styles/variables.scss';

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background-color;
}

.layout-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 20px;
}
.main-content {
  flex: 1;
  padding: $card-padding;
  overflow-y: auto;
  color: $text-color-primary;

  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

