@import "../../styles/variables.scss";

.sidebar {
  width: $sidebar-width;
  background-color: $background-color;
  padding: $sidebar-padding;
  color: $text-color-primary;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  
  .sidebar-logo {
    font-size: $font-size-large;
    color: $text-color-primary;
    margin-bottom: $sidebar-margin-bottom;
  }

  .sidebar-section {
    margin-bottom: $sidebar-margin-bottom;

    .sidebar-section-title {
      font-size: $font-size-small;
      color: $text-color-primary;
      margin-bottom: $spacing-sm;
      font-family: 'Bw Modelica', sans-serif; 
      font-weight: bold;
      text-transform: uppercase;
    }

    .sidebar-nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0; /* Ensure there is no margin on the ul */

        li {
          margin-bottom: $nav-item-margin-bottom;
          padding-left: 10px;
          margin-top: 20px;

          a {
            text-decoration: none;
            display: flex;
            color: $text-color-secondary;
            font-family: "Inter", sans-serif;
            align-items: center;
            gap: $spacing-sm;

            &:hover {
              color: $text-color-light;
            }

            &.active {
              color: #FFC107; /* Yellow color for active link */
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .sidebar-promo {
    padding-top: $spacing-lg;
    // border-top: 1px solid $text-color-secondary;
  }
}
